name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: pdf_converter

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true
        working-directory: pdf_converter

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libvips-dev

    - name: Run RSpec tests
      env:
        AWS_REGION: us-east-1
        JWT_SECRET_NAME: pdf-converter/jwt-secret
      run: bundle exec rspec --format progress

    - name: Run RuboCop
      run: bundle exec rubocop
